ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 0;
    padding: 10px;
    background-color: rgb(175, 218, 203);
}

ol {
    list-style-position: inside;
    list-style-type: upper-alpha;
    margin: 0;
    padding: 10px;
    background-color: rgb(102, 163, 135);

}

a {
    text-decoration: none;

}

li {
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 200);
    margin: 5px;
    padding: 5px;
}

li:hover {
    color: white;
    background-color: rgb(250, 203, 200);
}